<%- include('../layers/header', {title, user}) %>
<!-- <h2>Авторизируйтесь или зарегистрируйтесь</h2> -->
<%- include('form',{pathauth:`login`,pathreg:`singup`}) %>
<%- include('../layers/footer') %>

